div.inside
{
    position: fixed;
    bottom: 30%;
    right: 2%;
    height: 30%;
    width: 2%;
    margin: 10px;
    border: 3px solid black;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, green, yellow, red);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

div.background
{
    position: fixed;
    bottom: 30%;
    right: 2%;
    height: 30%;
    width: 2%;
    margin: 10px;
    border: 3px solid black;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, gray, darkgray);
}